.activity {
  padding: percentage(25 /768) 0 percentage(60 / 768);
  &_cover {
    padding: percentage(51 / 768) percentage(20 / 768) 0;
  }
  &_main {
    counter-reset: dt;
    h4 {
      margin: percentage(25 / 708) 0;
    }
    >p {
      line-height: 21px;
      font-size: 12px;
      padding: 0 percentage(30 / 708);
    }
  }

  &_list {
    border-top: 1px solid #000;
    padding-top: percentage(46 / 708);
    margin-top: percentage(38 / 708);
    dl {
      padding: percentage(30 / 708) 0;
      dt {
        color: #31b487;
        font-size: 17px;
        line-height: 21px;
        position: relative;
        font-weight: bold;
        counter-increment: dt;
        padding: 0 0 0 50px;
        &:before {
          position: absolute;
          content: counter(dt);
          font-size: 17px;
          font-weight: normal;
          line-height: 1;
          color: #31b487;
          left: 10px;
          top: 3px;
        }
        &:after {
          position: absolute;
          content: "";
          border: 2px solid #31b487;
          border-radius: 100%;
          width: 28px;
          height: 28px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      dd {
        font-size: 12px;
        line-height: 21px;
        padding: percentage(25 / 708) percentage(30 / 708);
        p {
          span {
            font-weight: bold;
            display: block;
            font-weight: bold;
            font-weight: 15px;
            margin: 20px 0 5px;
          }
          em {
            font-style: normal;
            color: #31b487;
          }
        }
      }
    }
  }
  aside {
    margin-top: -6px;
    .btn {
      width: 270px;
      height: 50px;
      position: relative;
      line-height: 50px;
      text-decoration: none;
      display: block;
      text-align: center;
      font-size: 12px;
      position: relative;
      transition: all .3s ease-out;
      vertical-align: middle;
      transition-property: color;
      font-weight: bold;
      margin: 0 auto;
      &:hover {
        opacity: 0.5;
      }
      &.contact {
        background: #d3d3d3;
        color: #000;
        padding-left: 28px;
        margin-bottom: percentage(25 / 708);
        &::after {
          content: "";
          position: absolute;
          background: url('../../images/contact_icon_02.png')no-repeat;
          background-size: contain;
          display: block;
          width: 21px;
          height: 14px;
          top: 50%;
          left: 65px;
          transform: translate(0 , -50%);
        }
      }
      &.qa {
        background: #0c99d8;
        color: #fff;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: percentage(30 / 708) 0 percentage(30 / 708) percentage(30 / 708);
      li {
        padding: 3px 8px 3px 8px;
        a {
          color: #000;
          font-size: 12px;
          font-weight: normal;
          position: relative;
          text-decoration: none;
          padding-left: 20px;
          &:after {
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            border-top: 2px solid #8c8c8c;
            border-right: 2px solid #8c8c8c;
            transform: rotate(45deg);
            left: 0;
            top: 2px;
          }
        }
      }
    }
  }
}
