.foreign {
  padding: 31px 0 171px;
  p {
    font-size: 13px;
  }
  &_inner {
    background: #f1f1f1;
    padding: 39px 37px 30px;
    margin: 42px 0 56px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    figure {
      width: 468px;
      float: left;
    }
    p {
      margin: 15px 0 0 513px;
      line-height: 30px;
    }
  }
  &_block {
    padding: 78px 0 0;
    >p {
      margin: 36px 18px 49px;
    }
  }
  &_card {
    margin-bottom: 77px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    article {
      float: left;
      width: calc(100% / 2);
      padding: 51px 40px 30px 44px;
      p {
        line-height: 30.1px;
        margin-top: 23px;
      }
    }
  }
}
